<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cabbage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,100}</string>
                <key>spriteSourceSize</key>
                <string>{118,100}</string>
                <key>textureRect</key>
                <string>{{1,436},{118,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CherryBomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{123,396},{100,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Citron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,92}</string>
                <key>textureRect</key>
                <string>{{107,1555},{100,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FirePeaShooter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,110}</string>
                <key>textureRect</key>
                <string>{{113,1354},{90,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Garlic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,120}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{1,250},{100,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jalapeno.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,104}</string>
                <key>spriteSourceSize</key>
                <string>{100,104}</string>
                <key>textureRect</key>
                <string>{{1,1508},{64,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LemonShooter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{89,104}</string>
                <key>spriteSourceSize</key>
                <string>{93,106}</string>
                <key>textureRect</key>
                <string>{{121,498},{89,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PeaShooter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{123,294},{100,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PlantsIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{112,106}</string>
                <key>textureRect</key>
                <string>{{1,870},{112,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{115,812},{111,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,110}</string>
                <key>spriteSourceSize</key>
                <string>{112,110}</string>
                <key>textureRect</key>
                <string>{{1,538},{112,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{115,922},{111,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{1,650},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{1,978},{111,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{114,1032},{111,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{109,107}</string>
                <key>textureRect</key>
                <string>{{113,1446},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,108}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{1,1088},{111,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{110,108}</string>
                <key>textureRect</key>
                <string>{{113,1244},{110,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{112,108}</string>
                <key>textureRect</key>
                <string>{{1,760},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,110}</string>
                <key>spriteSourceSize</key>
                <string>{111,110}</string>
                <key>textureRect</key>
                <string>{{115,589},{111,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,109}</string>
                <key>spriteSourceSize</key>
                <string>{110,109}</string>
                <key>textureRect</key>
                <string>{{1,1198},{110,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,109}</string>
                <key>spriteSourceSize</key>
                <string>{111,109}</string>
                <key>textureRect</key>
                <string>{{115,701},{111,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIcon9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,108}</string>
                <key>spriteSourceSize</key>
                <string>{110,108}</string>
                <key>textureRect</key>
                <string>{{1,1309},{110,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlantsIconBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,149}</string>
                <key>spriteSourceSize</key>
                <string>{145,149}</string>
                <key>textureRect</key>
                <string>{{1,103},{145,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PlantsLevel_Copper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,70}</string>
                <key>spriteSourceSize</key>
                <string>{60,70}</string>
                <key>textureRect</key>
                <string>{{152,232},{60,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PlantsLevel_Gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,72}</string>
                <key>spriteSourceSize</key>
                <string>{63,72}</string>
                <key>textureRect</key>
                <string>{{152,167},{63,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PlantsLevel_Silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,73}</string>
                <key>spriteSourceSize</key>
                <string>{62,73}</string>
                <key>textureRect</key>
                <string>{{152,103},{62,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PotatoMine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{111,100}</string>
                <key>spriteSourceSize</key>
                <string>{117,104}</string>
                <key>textureRect</key>
                <string>{{114,1142},{111,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SeedPacket_Larger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Spikeweed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{120,82}</string>
                <key>spriteSourceSize</key>
                <string>{120,84}</string>
                <key>textureRect</key>
                <string>{{1,352},{120,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SunFlower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,100}</string>
                <key>spriteSourceSize</key>
                <string>{76,100}</string>
                <key>textureRect</key>
                <string>{{103,1649},{76,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Torchwood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,100}</string>
                <key>spriteSourceSize</key>
                <string>{85,100}</string>
                <key>textureRect</key>
                <string>{{1,1574},{85,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Wallnut_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,110}</string>
                <key>spriteSourceSize</key>
                <string>{87,110}</string>
                <key>textureRect</key>
                <string>{{1,1419},{87,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlantsCard.pvr.ccz</string>
            <key>size</key>
            <string>{227,1726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:073065dbc3e8327bd3f1320770745006:9c67b64f2b5335e6aa3b55b06d2dc7f5:6ae169ac023a6c972d0e00aa33833c41$</string>
            <key>textureFileName</key>
            <string>PlantsCard.pvr.ccz</string>
        </dict>
    </dict>
</plist>
