<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SelectorScreen_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1127},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>SelectorScreen_BG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1050},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>SelectorScreen_BG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,973},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>SelectorScreen_BG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,896},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>SelectorScreen_BG4.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,540},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>SelectorScreen_BG5.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,438},{100,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,75}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>SelectorScreen_Cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,497},{357,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,204}}</string>
                <key>sourceSize</key>
                <string>{357,204}</string>
            </dict>
            <key>SelectorScreen_Cloud10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{434,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{434,122}}</string>
                <key>sourceSize</key>
                <string>{434,144}</string>
            </dict>
            <key>SelectorScreen_Cloud11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,438},{211,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,73}}</string>
                <key>sourceSize</key>
                <string>{211,73}</string>
            </dict>
            <key>SelectorScreen_Cloud12.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,931},{239,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,91}}</string>
                <key>sourceSize</key>
                <string>{239,91}</string>
            </dict>
            <key>SelectorScreen_Cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,805},{144,89}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{144,89}}</string>
                <key>sourceSize</key>
                <string>{152,121}</string>
            </dict>
            <key>SelectorScreen_Cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,933},{220,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,206}}</string>
                <key>sourceSize</key>
                <string>{220,206}</string>
            </dict>
            <key>SelectorScreen_Cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,651},{152,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,121}}</string>
                <key>sourceSize</key>
                <string>{152,121}</string>
            </dict>
            <key>SelectorScreen_Cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1155},{76,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,44}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>SelectorScreen_Cloud6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1155},{76,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,44}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>SelectorScreen_Cloud7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{434,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,144}}</string>
                <key>sourceSize</key>
                <string>{434,144}</string>
            </dict>
            <key>SelectorScreen_Cloud8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,931},{239,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,91}}</string>
                <key>sourceSize</key>
                <string>{239,91}</string>
            </dict>
            <key>SelectorScreen_Cloud9.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,856},{211,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,73}}</string>
                <key>sourceSize</key>
                <string>{211,73}</string>
            </dict>
            <key>SelectorScreen_Flower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1172},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>SelectorScreen_Flower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1172},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>SelectorScreen_Flower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1155},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>trophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,493}}</string>
                <key>sourceSize</key>
                <string>{346,493}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainMenu.pvr.ccz</string>
            <key>size</key>
            <string>{509,1217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:507b2cf3fc45d2a45c8f3c6f9a243b67$</string>
            <key>textureFileName</key>
            <string>MainMenu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
