<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtonNew.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1763},{432,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,130}}</string>
                <key>sourceSize</key>
                <string>{432,130}</string>
            </dict>
            <key>ButtonNew2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2232,487},{431,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,131}}</string>
                <key>sourceSize</key>
                <string>{431,131}</string>
            </dict>
            <key>CaveFileButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2453,1995},{95,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,22}}</string>
                <key>sourceSize</key>
                <string>{95,22}</string>
            </dict>
            <key>CaveFileButtonDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2428,1615},{96,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,22}}</string>
                <key>sourceSize</key>
                <string>{96,22}</string>
            </dict>
            <key>CheckBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2358,1519},{94,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>CheckBox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2332,1615},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2453,1855},{138,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,126}}</string>
                <key>sourceSize</key>
                <string>{138,126}</string>
            </dict>
            <key>CloseDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2232,1742},{138,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,126}}</string>
                <key>sourceSize</key>
                <string>{138,126}</string>
            </dict>
            <key>Continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2358,1349},{168,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,98}}</string>
                <key>sourceSize</key>
                <string>{168,98}</string>
            </dict>
            <key>Continue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1895},{168,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,98}}</string>
                <key>sourceSize</key>
                <string>{168,98}</string>
            </dict>
            <key>InputDataDialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,636},{506,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,505}}</string>
                <key>sourceSize</key>
                <string>{506,505}</string>
            </dict>
            <key>LackPlants.png</key>
            <dict>
                <key>frame</key>
                <string>{{2588,1235},{61,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>LackSun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1968},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>LevelObjiectives.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1143},{528,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,311}}</string>
                <key>sourceSize</key>
                <string>{528,311}</string>
            </dict>
            <key>LevelObjiectives2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,1763},{59,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>LevelObjiectivesBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{1056,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1056,632}}</string>
                <key>sourceSize</key>
                <string>{1056,632}</string>
            </dict>
            <key>MorePlants.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1624},{51,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,76}}</string>
                <key>sourceSize</key>
                <string>{51,76}</string>
            </dict>
            <key>MoreSun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,1968},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>ProgressBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2588,1078},{155,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,19}}</string>
                <key>sourceSize</key>
                <string>{155,19}</string>
            </dict>
            <key>ProgressBar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2646,2},{143,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,11}}</string>
                <key>sourceSize</key>
                <string>{143,11}</string>
            </dict>
            <key>ProgressBarFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2332,1713},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>ProgressBarFlag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,1982},{27,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>Prohibit.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1800},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>QuitDialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2258,620},{322,255}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{322,255}}</string>
                <key>sourceSize</key>
                <string>{322,257}</string>
            </dict>
            <key>Requirement.png</key>
            <dict>
                <key>frame</key>
                <string>{{2453,1535},{140,141}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{142,141}</string>
            </dict>
            <key>RequirementDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,1824},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>SeedBank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1624},{174,754}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{174,754}}</string>
                <key>sourceSize</key>
                <string>{174,756}</string>
            </dict>
            <key>SeedChooser_Background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1170,1620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1170,1620}}</string>
                <key>sourceSize</key>
                <string>{1170,1620}</string>
            </dict>
            <key>SeedChooser_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,1824},{156,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,42}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>SeedChooser_Button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2596,1535},{109,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,26}}</string>
                <key>sourceSize</key>
                <string>{111,26}</string>
            </dict>
            <key>SeedChooser_Button2_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2514,1816},{109,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,26}}</string>
                <key>sourceSize</key>
                <string>{111,26}</string>
            </dict>
            <key>SeedChooser_Button_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1983},{156,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,42}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>SelectorScreen_Adventure_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1800},{660,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,240}}</string>
                <key>sourceSize</key>
                <string>{660,240}</string>
            </dict>
            <key>SelectorScreen_Challenges_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1456},{572,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,244}}</string>
                <key>sourceSize</key>
                <string>{572,244}</string>
            </dict>
            <key>SelectorScreen_Shadow_Adventure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1763},{335,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{335,122}}</string>
                <key>sourceSize</key>
                <string>{337,126}</string>
            </dict>
            <key>SelectorScreen_Shadow_Challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2461,1078},{289,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{289,125}}</string>
                <key>sourceSize</key>
                <string>{289,127}</string>
            </dict>
            <key>SelectorScreen_Shadow_Survival.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,877},{318,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,136}}</string>
                <key>sourceSize</key>
                <string>{318,136}</string>
            </dict>
            <key>SelectorScreen_Shadow_ZenGarden.png</key>
            <dict>
                <key>frame</key>
                <string>{{2332,1078},{269,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,127}}</string>
                <key>sourceSize</key>
                <string>{269,127}</string>
            </dict>
            <key>SelectorScreen_Survival_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1082},{626,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,266}}</string>
                <key>sourceSize</key>
                <string>{626,266}</string>
            </dict>
            <key>SelectorScreen_Vasebreaker_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1350},{528,246}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{528,246}}</string>
                <key>sourceSize</key>
                <string>{532,246}</string>
            </dict>
            <key>SelectorScreen_WoodSign1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,636},{574,300}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,300}}</string>
                <key>sourceSize</key>
                <string>{586,300}</string>
            </dict>
            <key>SelectorScreen_WoodSign2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1598},{582,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,142}}</string>
                <key>sourceSize</key>
                <string>{582,142}</string>
            </dict>
            <key>SelectorScreen_WoodSign2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,938},{582,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,142}}</string>
                <key>sourceSize</key>
                <string>{582,142}</string>
            </dict>
            <key>SelectorScreen_WoodSign3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2278,1350},{184,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,78}}</string>
                <key>sourceSize</key>
                <string>{184,80}</string>
            </dict>
            <key>ShovelBank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2458,1369},{158,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,164}}</string>
                <key>sourceSize</key>
                <string>{158,164}</string>
            </dict>
            <key>Shovel_hi_res.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,1702},{121,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,152}}</string>
                <key>sourceSize</key>
                <string>{121,152}</string>
            </dict>
            <key>Shovel_hi_res1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2069,1742},{121,161}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{121,161}}</string>
                <key>sourceSize</key>
                <string>{121,163}</string>
            </dict>
            <key>ShowNumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1983},{169,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,50}}</string>
                <key>sourceSize</key>
                <string>{169,50}</string>
            </dict>
            <key>SpeedButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2310,1870},{141,141}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{143,141}</string>
            </dict>
            <key>SpeedButtonDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1825},{149,149}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{149,149}}</string>
                <key>sourceSize</key>
                <string>{151,153}</string>
            </dict>
            <key>StopButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2167,1870},{141,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{141,140}}</string>
                <key>sourceSize</key>
                <string>{149,142}</string>
            </dict>
            <key>StopButtonDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{2372,1713},{140,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,142}</string>
            </dict>
            <key>Sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2514,1677},{130,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,137}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>SunBank.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1624},{329,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,137}}</string>
                <key>sourceSize</key>
                <string>{329,137}</string>
            </dict>
            <key>Zombie_flag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1624},{11,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{11,61}}</string>
                <key>sourceSize</key>
                <string>{15,61}</string>
            </dict>
            <key>ZombiesDie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2582,620},{209,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{209,77}}</string>
                <key>sourceSize</key>
                <string>{209,79}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,1865},{146,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,138}}</string>
                <key>sourceSize</key>
                <string>{146,138}</string>
            </dict>
            <key>back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,1825},{147,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,138}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>bgFile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1702},{500,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,33}}</string>
                <key>sourceSize</key>
                <string>{500,33}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1995},{117,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,45}}</string>
                <key>sourceSize</key>
                <string>{117,47}</string>
            </dict>
            <key>button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1995},{117,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{117,45}}</string>
                <key>sourceSize</key>
                <string>{117,47}</string>
            </dict>
            <key>coinbank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,1742},{322,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,80}}</string>
                <key>sourceSize</key>
                <string>{322,80}</string>
            </dict>
            <key>editbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2266,1015},{323,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,61}}</string>
                <key>sourceSize</key>
                <string>{323,61}</string>
            </dict>
            <key>options_backtogamebutton0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1887},{346,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{346,88}}</string>
                <key>sourceSize</key>
                <string>{360,100}</string>
            </dict>
            <key>options_backtogamebutton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1895},{346,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{346,86}}</string>
                <key>sourceSize</key>
                <string>{360,100}</string>
            </dict>
            <key>options_checkbox0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1350},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>options_checkbox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,1824},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>options_menuback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2232,2},{412,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,483}}</string>
                <key>sourceSize</key>
                <string>{412,483}</string>
            </dict>
            <key>options_sliderknob2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2596,1646},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>options_sliderslot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2646,147},{135,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,10}}</string>
                <key>sourceSize</key>
                <string>{135,10}</string>
            </dict>
            <key>progressFile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1737},{500,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,24}}</string>
                <key>sourceSize</key>
                <string>{500,24}</string>
            </dict>
            <key>thumbFile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2582,831},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Dialog.pvr.ccz</string>
            <key>size</key>
            <string>{2665,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28f6de3899e0d9ead9a0af2800943258$</string>
            <key>textureFileName</key>
            <string>Dialog.pvr.ccz</string>
        </dict>
    </dict>
</plist>
