<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Final.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{873,118}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{873,118}}</string>
                <key>sourceSize</key>
                <string>{879,118}</string>
            </dict>
            <key>ManyZombiesComing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,2},{963,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{963,117}}</string>
                <key>sourceSize</key>
                <string>{963,117}</string>
            </dict>
            <key>Prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,325}}</string>
                <key>sourceSize</key>
                <string>{800,325}</string>
            </dict>
            <key>SelectorScreen_Help2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,910},{96,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,44}}</string>
                <key>sourceSize</key>
                <string>{96,44}</string>
            </dict>
            <key>SelectorScreen_Options2.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,569},{118,58}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{118,58}}</string>
                <key>sourceSize</key>
                <string>{162,62}</string>
            </dict>
            <key>SelectorScreen_Quit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,689},{94,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
            <key>StartPlant.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,329},{238,105}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,15},{238,105}}</string>
                <key>sourceSize</key>
                <string>{300,133}</string>
            </dict>
            <key>StartReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,476},{226,79}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{226,79}}</string>
                <key>sourceSize</key>
                <string>{300,133}</string>
            </dict>
            <key>StartSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{152,55}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,51},{152,55}}</string>
                <key>sourceSize</key>
                <string>{300,133}</string>
            </dict>
            <key>ZombieNote.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{651,459}}</string>
                <key>offset</key>
                <string>{-29,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,459}}</string>
                <key>sourceSize</key>
                <string>{709,461}</string>
            </dict>
            <key>zombieswon.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,476},{530,444}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{530,444}}</string>
                <key>sourceSize</key>
                <string>{564,468}</string>
            </dict>
            <key>zombieswon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{564,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,472}}</string>
                <key>sourceSize</key>
                <string>{564,472}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Word.pvr.ccz</string>
            <key>size</key>
            <string>{1528,967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a88a9b995c96c40302ebcc2569c0357$</string>
            <key>textureFileName</key>
            <string>Word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
