<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LmpZombiesArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,91},{23,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,49}}</string>
                <key>sourceSize</key>
                <string>{25,49}</string>
            </dict>
            <key>ZombieArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,63},{26,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{30,57}</string>
            </dict>
            <key>ZombieHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{58,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{64,61}</string>
            </dict>
            <key>ZombieHead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,74}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,74}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>ZombieImpHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,70},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>ZombieYetiArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{33,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,77}}</string>
                <key>sourceSize</key>
                <string>{35,77}</string>
            </dict>
            <key>ZombieYetiHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{60,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,66}}</string>
                <key>sourceSize</key>
                <string>{60,66}</string>
            </dict>
            <key>Zombie_bucket.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,63},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>Zombie_cone.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Zombies.pvr.ccz</string>
            <key>size</key>
            <string>{254,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f74b6f3d8a223e9e532bebf0e35348a7$</string>
            <key>textureFileName</key>
            <string>Zombies.pvr.ccz</string>
        </dict>
    </dict>
</plist>
