<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LoadBar_dirt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,337},{309,45}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,45}}</string>
                <key>sourceSize</key>
                <string>{321,81}</string>
            </dict>
            <key>LoadBar_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,385},{314,42}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,42}}</string>
                <key>sourceSize</key>
                <string>{314,64}</string>
            </dict>
            <key>PopCap_Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{492,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,258}}</string>
                <key>sourceSize</key>
                <string>{492,258}</string>
            </dict>
            <key>PvZ_Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1084},{1024,222}}</string>
                <key>offset</key>
                <string>{-22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,0},{1024,222}}</string>
                <key>sourceSize</key>
                <string>{1400,232}</string>
            </dict>
            <key>SodRollCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,264},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>cocos2dx_Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1084},{195,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,270}}</string>
                <key>sourceSize</key>
                <string>{195,270}</string>
            </dict>
            <key>spark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{101,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,260}}</string>
                <key>sourceSize</key>
                <string>{101,260}</string>
            </dict>
            <key>sprout_petal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,337},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>titlescreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LoadingScene.pvr.ccz</string>
            <key>size</key>
            <string>{2027,1344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d28a248bf3093b4615787d68da32ea3$</string>
            <key>textureFileName</key>
            <string>LoadingScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
