<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SelectorScreen_BG_Center.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3248},{1440,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1440,700}}</string>
                <key>sourceSize</key>
                <string>{1440,700}</string>
            </dict>
            <key>SelectorScreen_BG_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2934,1464},{906,1360}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{906,1360}}</string>
                <key>sourceSize</key>
                <string>{952,1360}</string>
            </dict>
            <key>SelectorScreen_BG_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2934,2},{1460,1120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1460,1120}}</string>
                <key>sourceSize</key>
                <string>{1460,1120}</string>
            </dict>
            <key>background1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2166},{2930,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2930,1080}}</string>
                <key>sourceSize</key>
                <string>{2930,1080}</string>
            </dict>
            <key>background3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{2930,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2930,1080}}</string>
                <key>sourceSize</key>
                <string>{2930,1080}</string>
            </dict>
            <key>background4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2930,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2930,1080}}</string>
                <key>sourceSize</key>
                <string>{2930,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background_0.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e30fa912440b9c5392d4f97cd654d86e$</string>
            <key>textureFileName</key>
            <string>background_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
