<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AwardPickupGlow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{1667,435},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>AwardRays.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{865,435},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoinParticles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,123}</string>
                <key>spriteSourceSize</key>
                <string>{80,123}</string>
                <key>textureRect</key>
                <string>{{995,435},{80,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LineAction.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{373,650},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PromptText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{996,86}</string>
                <key>spriteSourceSize</key>
                <string>{996,86}</string>
                <key>textureRect</key>
                <string>{{669,595},{996,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RunBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,351}</string>
                <key>spriteSourceSize</key>
                <string>{370,351}</string>
                <key>textureRect</key>
                <string>{{1,333},{370,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SeedPacketSilhouette.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,50}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{1849,333},{70,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SeedPacketSilhouette1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{1667,333},{180,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,315}</string>
                <key>spriteSourceSize</key>
                <string>{294,315}</string>
                <key>textureRect</key>
                <string>{{373,333},{294,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>White.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,100}</string>
                <key>spriteSourceSize</key>
                <string>{180,100}</string>
                <key>textureRect</key>
                <string>{{772,333},{180,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WorldBackgroundBlack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,330}</string>
                <key>spriteSourceSize</key>
                <string>{1920,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plantshadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{86,36}</string>
                <key>textureRect</key>
                <string>{{954,333},{86,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plantshadow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,36}</string>
                <key>spriteSourceSize</key>
                <string>{86,36}</string>
                <key>textureRect</key>
                <string>{{992,333},{86,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,260}</string>
                <key>spriteSourceSize</key>
                <string>{101,260}</string>
                <key>textureRect</key>
                <string>{{669,333},{101,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wgfd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,91}</string>
                <key>spriteSourceSize</key>
                <string>{150,91}</string>
                <key>textureRect</key>
                <string>{{772,435},{150,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Particles.pvr.ccz</string>
            <key>size</key>
            <string>{1922,685}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51568fb1edc357229931a5a294ce6e4f:308506315e472389e24e2ee61d4581dd:afdc46a5a8a7a2aedac90f980f8068e6$</string>
            <key>textureFileName</key>
            <string>Particles.pvr.ccz</string>
        </dict>
    </dict>
</plist>
