<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>World1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,500}</string>
                <key>spriteSourceSize</key>
                <string>{306,500}</string>
                <key>textureRect</key>
                <string>{{1,1036},{306,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,197}</string>
                <key>spriteSourceSize</key>
                <string>{379,197}</string>
                <key>textureRect</key>
                <string>{{237,1538},{379,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>World1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,190}</string>
                <key>spriteSourceSize</key>
                <string>{364,190}</string>
                <key>textureRect</key>
                <string>{{436,1481},{364,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>World1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{303,147}</string>
                <key>spriteSourceSize</key>
                <string>{309,147}</string>
                <key>textureRect</key>
                <string>{{1210,1},{303,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>World1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{380,213}</string>
                <key>spriteSourceSize</key>
                <string>{382,215}</string>
                <key>textureRect</key>
                <string>{{813,302},{380,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{395,299}</string>
                <key>spriteSourceSize</key>
                <string>{399,299}</string>
                <key>textureRect</key>
                <string>{{813,1},{395,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{105,266}</string>
                <key>spriteSourceSize</key>
                <string>{105,268}</string>
                <key>textureRect</key>
                <string>{{1075,1440},{105,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,210}</string>
                <key>spriteSourceSize</key>
                <string>{100,210}</string>
                <key>textureRect</key>
                <string>{{237,1919},{100,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>World1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{207,165}</string>
                <key>spriteSourceSize</key>
                <string>{213,167}</string>
                <key>textureRect</key>
                <string>{{1087,995},{207,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>World1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{294,345}</string>
                <key>spriteSourceSize</key>
                <string>{300,345}</string>
                <key>textureRect</key>
                <string>{{521,889},{294,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,165}</string>
                <key>spriteSourceSize</key>
                <string>{300,165}</string>
                <key>textureRect</key>
                <string>{{908,1447},{300,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>World1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{488,500}</string>
                <key>spriteSourceSize</key>
                <string>{492,500}</string>
                <key>textureRect</key>
                <string>{{1,534},{488,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,269}</string>
                <key>spriteSourceSize</key>
                <string>{284,269}</string>
                <key>textureRect</key>
                <string>{{628,1760},{284,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{139,57}</string>
                <key>spriteSourceSize</key>
                <string>{147,59}</string>
                <key>textureRect</key>
                <string>{{569,1899},{139,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>World1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{168,237}</string>
                <key>spriteSourceSize</key>
                <string>{170,237}</string>
                <key>textureRect</key>
                <string>{{823,1208},{168,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{166,200}</string>
                <key>spriteSourceSize</key>
                <string>{176,200}</string>
                <key>textureRect</key>
                <string>{{1182,1427},{166,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,114}</string>
                <key>spriteSourceSize</key>
                <string>{158,118}</string>
                <key>textureRect</key>
                <string>{{1212,1876},{158,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>World1_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{353,333}</string>
                <key>spriteSourceSize</key>
                <string>{361,333}</string>
                <key>textureRect</key>
                <string>{{491,534},{353,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>World1_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{345,307}</string>
                <key>spriteSourceSize</key>
                <string>{371,307}</string>
                <key>textureRect</key>
                <string>{{826,517},{345,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{174,77}</string>
                <key>spriteSourceSize</key>
                <string>{180,77}</string>
                <key>textureRect</key>
                <string>{{1182,1629},{174,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{300,209}</string>
                <key>spriteSourceSize</key>
                <string>{300,211}</string>
                <key>textureRect</key>
                <string>{{521,1236},{300,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{278,311}</string>
                <key>spriteSourceSize</key>
                <string>{300,323}</string>
                <key>textureRect</key>
                <string>{{628,1447},{278,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,178}</string>
                <key>spriteSourceSize</key>
                <string>{250,178}</string>
                <key>textureRect</key>
                <string>{{1173,658},{250,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>World1_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,138}</string>
                <key>spriteSourceSize</key>
                <string>{95,138}</string>
                <key>textureRect</key>
                <string>{{1254,992},{95,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,138}</string>
                <key>spriteSourceSize</key>
                <string>{65,138}</string>
                <key>textureRect</key>
                <string>{{1265,1132},{65,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{50,181}</string>
                <key>spriteSourceSize</key>
                <string>{50,185}</string>
                <key>textureRect</key>
                <string>{{436,1847},{50,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>World1_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{449,1899},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,500}</string>
                <key>spriteSourceSize</key>
                <string>{308,500}</string>
                <key>textureRect</key>
                <string>{{503,1},{308,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,350}</string>
                <key>spriteSourceSize</key>
                <string>{164,360}</string>
                <key>textureRect</key>
                <string>{{1195,306},{162,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,166}</string>
                <key>spriteSourceSize</key>
                <string>{130,166}</string>
                <key>textureRect</key>
                <string>{{1212,1708},{130,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,230}</string>
                <key>spriteSourceSize</key>
                <string>{112,230}</string>
                <key>textureRect</key>
                <string>{{993,1208},{112,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,531}</string>
                <key>spriteSourceSize</key>
                <string>{500,531}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,531}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{456,234}</string>
                <key>spriteSourceSize</key>
                <string>{456,238}</string>
                <key>textureRect</key>
                <string>{{1,1538},{456,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>World1_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{1146,910},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{443,210}</string>
                <key>spriteSourceSize</key>
                <string>{445,210}</string>
                <key>textureRect</key>
                <string>{{309,1036},{443,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>World1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,211}</string>
                <key>spriteSourceSize</key>
                <string>{268,211}</string>
                <key>textureRect</key>
                <string>{{817,995},{268,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{318,167}</string>
                <key>spriteSourceSize</key>
                <string>{318,177}</string>
                <key>textureRect</key>
                <string>{{826,826},{318,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,221}</string>
                <key>spriteSourceSize</key>
                <string>{156,221}</string>
                <key>textureRect</key>
                <string>{{1107,1204},{156,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>World1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{279,296}</string>
                <key>spriteSourceSize</key>
                <string>{279,300}</string>
                <key>textureRect</key>
                <string>{{914,1749},{279,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>World_1.pvr.ccz</string>
            <key>size</key>
            <string>{1358,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c9e871c24a3ba58dd1ce0b29026c113:26308051807244d74487efb7e3d4c877:1d4d1fc3b0e6b670c7c0833767fe2e68$</string>
            <key>textureFileName</key>
            <string>World_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
